doctype html
html
  head
    title Bienvenido
  body
    h1 Hola #{name},
    p Gracias por registrarte en BancaDev.
    p Esperamos que disfrutes de nuestros servicios.
    p Fecha de registro: #{date}
